p, input{
    font-family: Monaco, Verdana, Helvetica;
    font-size: medium;
}

input{
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
}

html {
    background-color:rgb(213, 213, 213);
}