.column{
    width: 400px;
    min-height: 150px;
    border-radius: 6px;
    margin: 16px;
    overflow: hidden;
}

.sectionHeader {
    font-weight: bold;
    padding: 3px;
    padding-left: 3px;
    text-align: center;
}

.sectionHeaderText {
    margin-left: 6px
}