.column{
    width: 300px;
    min-height: 150px;
    border-radius: 3px;
    margin: 16px;
    overflow: hidden;
}

.sectionHeader {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

p {
    margin: 16px;
    font-size: medium;
}

input {
    margin: 15px;
    font-weight: bold;
}